* {
  box-sizing: border-box;
}

body {
  font: 400 1rem/1.5 "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #151518;
}

a {
  color: #6544DC;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 1rem 0;
  letter-spacing: -0.06vw;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.btn-primary {
  background-color: #6544DC;
  color: #fff;
  border-color: #6544DC;
}
.btn-primary:hover {
  background-color: #532fd8;
  border-color: #532fd8;
  text-decoration: none;
}

.btn-secondary {
  background-color: #e8edff;
  color: #151518;
  border-color: #e8edff;
}
.btn-secondary:hover {
  background-color: #cfd9ff;
  border-color: #cfd9ff;
  text-decoration: none;
}

.btn-danger {
  background-color: #ff3041;
  color: #fff;
  border-color: #ff3041;
}
.btn-danger:hover {
  background-color: #ff172a;
  border-color: #ff172a;
  text-decoration: none;
}

.btn-warning {
  background-color: #E1BC29;
  color: #fff;
  border-color: #E1BC29;
}
.btn-warning:hover {
  background-color: #d3ae1e;
  border-color: #d3ae1e;
  text-decoration: none;
}

.btn-success {
  background-color: #47E469;
  color: #fff;
  border-color: #47E469;
}
.btn-success:hover {
  background-color: #31e157;
  border-color: #31e157;
  text-decoration: none;
}

.btn-info {
  background-color: #4083ff;
  color: #fff;
  border-color: #4083ff;
}
.btn-info:hover {
  background-color: #2772ff;
  border-color: #2772ff;
  text-decoration: none;
}

.btn-dark {
  background-color: #151518;
  color: #fff;
  border-color: #151518;
}
.btn-dark:hover {
  background-color: #09090a;
  border-color: #09090a;
  text-decoration: none;
}

.btn-light {
  background-color: #fff;
  color: #151518;
  border-color: #fff;
}
.btn-light:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  text-decoration: none;
}

.btn-pink {
  background-color: #d63384;
  color: #fff;
  border-color: #d63384;
}
.btn-pink:hover {
  background-color: #c72877;
  border-color: #c72877;
  text-decoration: none;
}

.btn-orange {
  background-color: #fd7e14;
  color: #fff;
  border-color: #fd7e14;
}
.btn-orange:hover {
  background-color: #f57102;
  border-color: #f57102;
  text-decoration: none;
}

.btn-teal {
  background-color: #20c997;
  color: #fff;
  border-color: #20c997;
}
.btn-teal:hover {
  background-color: #1cb386;
  border-color: #1cb386;
  text-decoration: none;
}

.btn-cyan {
  background-color: #00aeff;
  color: #fff;
  border-color: #00aeff;
}
.btn-cyan:hover {
  background-color: #009de6;
  border-color: #009de6;
  text-decoration: none;
}

.btn-primary, .btn-secondary, .btn-danger, .btn-warning, .btn-success, .btn-info, .btn-dark, .btn-light, .btn-pink, .btn-orange, .btn-teal, .btn-cyan {
  font: 500 1rem/1.5 "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 7px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s cubic-bezier(0.63, 0.07, 0.4, 0.97), border-color 0.1s cubic-bezier(0.63, 0.07, 0.4, 0.97), color 0.1s cubic-bezier(0.63, 0.07, 0.4, 0.97), transform 0.1s cubic-bezier(0.63, 0.07, 0.4, 0.97);
}
.btn-primary:active, .btn-secondary:active, .btn-danger:active, .btn-warning:active, .btn-success:active, .btn-info:active, .btn-dark:active, .btn-light:active, .btn-pink:active, .btn-orange:active, .btn-teal:active, .btn-cyan:active {
  transform: scale(0.97);
}/*# sourceMappingURL=comp.ver0.0.1.css.map */