:root {
    --kdui-blue: #2E7EFF;
    --kdui-blue-dark: #286edd;
    --kdui-blue-hover: #235ebe;
    --kdui-red: #EE4354;
    --kdui-red-dark: #cf3746;
    --kdui-red-hover: #b92938;
    --kdui-yellow: #E1BC29;
    --kdui-yellow-dark: #ceac24;
    --kdui-yellow-hover: #c79426;
    --kdui-green: #47E469;
    --kdui-green-dark: #36b952;
    --kdui-green-hover: #1ebb40;
    --kdui-purple: #6544DC;
    --kdui-purple-dark: #5037ac;
    --kdui-indigo: #6610f2;
    --kdui-pink: #d63384;
    --kdui-orange: #fd7e14;
    --kdui-teal: #20c997;
    --kdui-cyan: #00aeff;
    --kdui-cyan-hover: #0086f3;
    --kdui-white: #fff;
    --kdui-white-hover: #f2f4fa;
    --kdui-gray: #e8edff;
    --kdui-gray-hover: #c5cef3;
    --kdui-gray-dark: #343a40;
    --kdui-gray-100: #f1f2f7;
    --kdui-gray-200: #e9ecef;
    --kdui-gray-300: #dee2e6;
    --kdui-gray-400: #ced4da;
    --kdui-gray-500: #adb5bd;
    --kdui-gray-600: #808186;
    --kdui-gray-700: #495057;
    --kdui-gray-800: #343a40;
    --kdui-gray-900: #232327;
    --kdui-black: #121113;
    --kdui-black-hover: #312e35;



    /* Utilities */
    --border-r1: 4px;
    --border-r2: 8px;
    --border-r3: 10px;
}

.btn {
    padding: 8px 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: var(--border-r3);
    font-weight: 500;
}

.btn-primary {
    background-color: var(--kdui-blue-dark);
    border-color: var(--kdui-blue-dark);
    color: var(--kdui-white);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--kdui-blue-hover);
    border-color: var(--kdui-blue-hover);
    color: var(--kdui-white);
}

.btn-secondary {
    background-color: var(--kdui-gray);
    border-color: var(--kdui-gray);
    color: var(--kdui-black);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: var(--kdui-gray-hover);
    border-color: var(--kdui-gray-hover);
    color: var(--kdui-black);
}

.btn-warning {
    background-color: var(--kdui-yellow);
    border-color: var(--kdui-yellow);
    color: var(--kdui-black);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background-color: var(--kdui-yellow-hover);
    border-color: var(--kdui-yellow-hover);
    color: var(--kdui-white);
}

.btn-success {
    background-color: var(--kdui-green);
    border-color: var(--kdui-green);
    color: var(--kdui-black);
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: var(--kdui-green-hover);
    border-color: var(--kdui-green-hover);
    color: var(--kdui-black);
}

.btn-danger {
    background-color: var(--kdui-red);
    border-color: var(--kdui-red);
    color: var(--kdui-white);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: var(--kdui-red-hover);
    border-color: var(--kdui-red-hover);
    color: var(--kdui-white);
}

.btn-info {
    background-color: var(--kdui-cyan);
    border-color: var(--kdui-cyan);
    color: var(--kdui-black);
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color: var(--kdui-cyan-hover);
    border-color: var(--kdui-cyan-hover);
    color: var(--kdui-white);
}

.btn-light {
    background-color: var(--kdui-white);
    border-color: var(--kdui-white);
    color: var(--kdui-black);
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    background-color: var(--kdui-white-hover);
    border-color: var(--kdui-white-hover);
    color: var(--kdui-black);
}

.btn-dark {
    background-color: var(--kdui-black);
    border-color: var(--kdui-black);
    color: var(--kdui-white);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background-color: var(--kdui-black-hover);
    border-color: var(--kdui-black-hover);
    color: var(--kdui-white);
}

*:focus {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 0px 0.25rem #3fa9ff71;
}