.dots {
    opacity: 0.1;
    width: 100%;
    height: 100dvh;
    background-color: transparent;
    background-image: radial-gradient(#ffffff 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#ffffff 0.8500000000000001px, #0a090a 0.8500000000000001px);
    background-size: 34px 34px;
    background-position: 0 0,17px 17px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

:root {
    --kui-blue: #2e4dff;
    --kui-blue-dark: #2849dd;
    --kui-blue-hover: #2347be;
    --kui-red: #EE4354;
    --kui-red-dark: #cf3746;
    --kui-red-hover: #b92938;
    --kui-yellow: #E1BC29;
    --kui-yellow-dark: #ceac24;
    --kui-yellow-hover: #c79426;
    --kui-green: #47E469;
    --kui-green-dark: #36b952;
    --kui-green-hover: #1ebb40;
    --kui-purple: #6544DC;
    --kui-purple-dark: #5037ac;
    --kui-indigo: #6610f2;
    --kui-pink: #d63384;
    --kui-orange: #fd7e14;
    --kui-teal: #20c997;
    --kui-cyan: #00aeff;
    --kui-cyan-hover: #0086f3;
    --kui-white: #fff;
    --kui-white-hover: #f2f4fa;
    --kui-gray: #e8edff;
    --kui-gray-hover: #c5cef3;
    --kui-gray-dark: #343a40;
    --kui-gray-100: #f1f2f7;
    --kui-gray-200: #e9ecef;
    --kui-gray-300: #dee2e6;
    --kui-gray-400: #ced4da;
    --kui-gray-500: #adb5bd;
    --kui-gray-600: #808186;
    --kui-gray-700: #495057;
    --kui-gray-800: #343a40;
    --kui-gray-900: #232327;
    --kui-black: #0a090a;
    --kui-black-hover: #312e35;

    /* Utilities */
    --border-r1: 4px;
    --border-r2: 8px;
    --border-r3: 10px;
    --border-r4: 15px;

    /* Default font-family */
    --kui-f-fam: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Transition */
    --kui-transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.card {
    background-color: var(--kui-black);
    border: 1px solid var(--kui-gray-800);
    border-radius: var(--border-r4);
    padding: 1.25rem;
    width: 100%;
}